<h1> <%= @article.title %> </h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p> <%= @article.body %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/form' %>
<%= link_to '<< Back to Articles', articles_path %>

<%= link_to 'Destroy', article_path(@article), 
method: :delete, data: { confirm: "Are you sure you want to delete this record"}%>

<%= link_to 'Edit', edit_article_path(@article)%>

<%= render partial: 'articles/comments', collection: @article.comments %>